build --incompatible_strict_action_env

# C++20
build:c++20 --cxxopt=-std=c++20
build --config=c++20

# Switch to llvm toolchain on Linux
common --enable_platform_specific_config
build:linux --extra_toolchains=@llvm_toolchain//:all